
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/CellDashboard/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title1 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Hücreler</span>
                            <h5 class="card-title mb-0 text-white">Toplam Hücre Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                   # @ViewBag.v
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.v1 % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.v1%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Kullanım Durumu</span>
                            <h5 class="card-title mb-0 text-white">Günlük Ölçülen Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.dailyBatteryMeasurement
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.dailyBatteryMeasurementRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.dailyBatteryMeasurementRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Kullanım Durumu</span>
                            <h5 class="card-title mb-0 text-white">Haftalık Ölçülen Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.weeklyBatteryMeasurement
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.weeklyBatteryMeasurementRandom% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.weeklyBatteryMeasurementRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Kullanım Durumu</span>
                            <h5 class="card-title mb-0 text-white">Aylık Ölçülen Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.monthlyBatteryMeasurement
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.monthlyBatteryMeasurementRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.monthlyBatteryMeasurementRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- end page title1 -->

        <!-- start page title2 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Pil Durumuu</span>
                            <h5 class="card-title mb-0 text-white">Hasarlı Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.countofDamagedBatteries
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofDamagedBatteriesRandom% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofDamagedBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Pil Durumu</span>
                            <h5 class="card-title mb-0 text-white">Atık Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.countofWasteBatteries
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofWasteBatteriesRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofWasteBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Kullanım Durumu</span>
                            <h5 class="card-title mb-0 text-white">Tolerans Değeri Dışı Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.countofBatteriesAboveToleranceValue
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofBatteriesAboveToleranceValueRandom% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofBatteriesAboveToleranceValueRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Kullanım Durumu</span>
                            <h5 class="card-title mb-0 text-white">Kullanılan Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.countofUsedBatteries
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofUsedBatteriesRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofUsedBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 
        <!-- end page title2 -->

        <!-- start page title3 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Kullanım Durumu</span>
                            <h5 class="card-title mb-0 text-white">Kullanılmayan Pil Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.countofNonUsedBatteries
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofNonUsedBatteriesRandom% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofNonUsedBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Pil Durumu</span>
                            <h5 class="card-title mb-0 text-white">Yeni İstatistik Alanı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.countofNonUsedBatteries
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofNonUsedBatteriesRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofNonUsedBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Pil Durumu</span>
                            <h5 class="card-title mb-0 text-white">Yeni İstatistik Alanı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h3 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.countofNonUsedBatteries
                                </h3>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofNonUsedBatteriesRandom% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofNonUsedBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Pil Durumu</span>
                            <h5 class="card-title mb-0 text-white">Yeni İstatistik Alanı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.countofNonUsedBatteries
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.countofNonUsedBatteriesRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.countofNonUsedBatteriesRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- end page title3 -->
    </div> <!-- container-fluid -->
</div>

